@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.landing-cards {
    height: 100vh;
    border-top: 8px solid #393939;
    background-color: #000;
}

.landing--watchContent {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 70vh;
    border-bottom: 8px solid #393939;
}

.landing--watchContext--text {
    width: 50%;
}

.landing--watchContext--text h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    line-height: 0.8;
}

.landing--watchContext--text p {
    font-size: 1.7rem;
    line-height: 1.1;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.landing--watchContext--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.landing--watchContext--img img {
    width: 100%;
    z-index: 2;
}

.landing--watchContext--img video {
    position: absolute;
    width: 32%;
    z-index: 1;
}

.landing--mobileWatch {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 10%;
    height: 70vh;
    border-bottom: 8px solid #393939;
}

.landing--mobileWatch--media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 55%;
    margin: 0;
    padding: 0;
}

.landing--mobileWatch--container {
    height: 100px;
    width: 25%;
    padding: 20px 20px;
    margin-bottom: 30px;
    background-color: #000;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.textRow {
    z-index: 2;
    margin-left: 60px;
    margin-top: 15px;
    text-align: left;
    line-height: 0.9;
}

.textRow p:nth-child(1) {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

.textRow p:nth-child(2) {
    font-size: 0.8rem;
    color: blue;
    text-align: left;
}

.textRow p:nth-child(2):hover {
    cursor: pointer;
}

#gif-mobile {
    z-index: 2;
    width: 17%;
}

#img-mobile {
    width: 50%;
    z-index: 1;
}

#icon-mobile {
    width: 15%;
    position: absolute;
    z-index: 2;
}

.landing--mobileWatch--text {
    width: 50%;
}

.landing--mobileWatch--text h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

.landing--mobileWatch--text p {
    font-size: 1.7rem;
    line-height: 1.1;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.landing--devices {
    background-color: #000;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 70vh;
    border-bottom: 8px solid #393939;
}

.landing--devices--text {
    width: 50%;
}

.landing--devices--text h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    line-height: 0.8;
}

.landing--devices--text p {
    font-size: 1.7rem;
    line-height: 1.1;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.landing--devices--media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.landing--devices--media img {
    width: 100%;
    z-index: 2;
}

.landing--kidsContent {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 10%;
    height: 70vh;
    border-bottom: 8px solid #393939;
}

.landing--kidsContent--text {
    width: 50%;
}

.landing--kidsContent--text h1 {
    line-height: 1;
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.landing--kidsContent--text p {
    font-size: 1.7rem;
    line-height: 1.1;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.landing--kidsContent--media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 55%;
    margin: 0;
    padding: 0;
}

.landing--kidsContent--media img {
    width: 85%;
}

.landing--questions {
    background-color: #000;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    max-height: 190vh;
    min-height: 100vh;
    border-bottom: 8px solid #393939;
}

.landing--questions h1 {
    margin-top: 55px;
    font-size: 3.3rem;
}

.title-item-one {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-size: 1.7rem;
    font-weight: 400;
}

.landing--questions--bottom {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing--questions-botom-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions--landing--inputEmail {
    height: 60px;
    width: 68%;
    font-size: 1rem;
}

.landing--questions-botom-content button {
    display: inline-block;
    height: 60px;
    width: 18%;
    color: white;
    background-color: #e50914;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 0;
    letter-spacing: .1px;
    font-size: 1.5em;
}

.landing--questions--bottom p {
    font-weight: 400;
    font-size: 1.1rem;
}

@media screen and (min-width: 320px) and (max-width:500px) {
    #mobile-title,
    #devices-title,
    #watch-title,
    #questions-title,
    #kids-title {
        font-size: 8vw;
        text-align: center;
    }
    .landing--watchContent {
        margin: 0;
        padding: 0;
        height: 50vh;
    }
    .landing--watchContext--text {
        width: 100%;
        height: 100%;
    }
    .landing--watchContext--text h1 {
        font-size: 1vw;
        box-sizing: border-box;
    }
    .landing--watchContext--text p {
        font-size: 1vw;
        box-sizing: border-box;
    }
    .landing--watchContext--img {
        margin-top: 100px;
        width: 100%;
    }
    .landing--watchContext--img img {
        width: 100%;
    }
    .landing--watchContext--img video {
        width: 100%;
    }
    .landing--mobileWatch {
        height: 50vh;
        margin: 0;
        padding: 0;
    }
    .landing--mobileWatch--text {
        width: 100%;
        text-align: center;
    }
    .landing--mobileWatch--media {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 40px;
    }
    .landing--mobileWatch--container {
        width: 100%;
        display: none;
        margin-bottom: 30px;
    }
    #img-mobile {
        width: 60%;
    }
    .textRow {
        margin-left: 20px;
    }
    .landing--devices {
        height: 50vh;
        margin: 0;
        padding: 0;
    }
    .landing--devices--text {
        width: 100%;
    }
    .landing--kidsContent {
        height: 50vh;
        padding: 0;
    }
    .landing--kidsContent--text {
        margin-top: 20px;
    }
    .landing--kidsContent--media {
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width:520px) {
    #mobile-title,
    #devices-title,
    #watch-title,
    #questions-title,
    #kids-title {
        font-size: 7vw;
        text-align: center;
    }
    #mobile-content,
    #devices-content,
    #watch-content,
    #questions-content,
    #kids-content {
        font-size: 5vw;
        text-align: center;
    }
    .landing--watchContent {
        margin: 0;
        padding: 0;
        height: 70vh;
    }
    .landing--watchContext--text {
        width: 100%;
        height: 100%;
    }
    .landing--watchContext--text h1 {
        font-size: 1vw;
        box-sizing: border-box;
    }
    .landing--watchContext--text p {
        font-size: 1vw;
        box-sizing: border-box;
    }
    .landing--watchContext--img {
        margin-top: 100px;
        width: 100%;
    }
    .landing--watchContext--img img {
        width: 100%;
    }
    .landing--watchContext--img video {
        width: 100%;
    }
    .landing--mobileWatch {
        height: 70vh;
        margin: 0;
        padding: 0;
    }
    .landing--mobileWatch--text {
        width: 100%;
        text-align: center;
    }
    .landing--mobileWatch--media {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 40px;
    }
    .landing--mobileWatch--container {
        width: 100%;
        margin-bottom: 30px;
        display: none;
    }
    #img-mobile {
        width: 65%;
    }
    .textRow {
        margin-left: 20px;
    }
    .landing--devices {
        height: 70vh;
        margin: 0;
        padding: 0;
    }
    .landing--devices--text {
        width: 100%;
    }
    .landing--kidsContent {
        height: 70vh;
        padding: 0;
    }
    .landing--kidsContent--text {
        margin-top: 20px;
    }
    .landing--kidsContent--media {
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:700px) {
    .landing--watchContent {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .landing--watchContext--text {
        width: 80%;
        height: 30%;
        text-align: center;
        z-index: 2;
        margin-top: 20px;
        margin-bottom: -100px;
    }
    .landing--watchContext--text h1 {
        font-size: 2.5rem;
    }
    .landing--watchContext--text p {
        font-size: 1.3rem;
    }
    .landing--watchContext--img {
        width: 100%;
        height: 80%;
        z-index: 1;
        margin-bottom: 40px;
    }
    .landing--watchContext--img img {
        width: 80%;
    }
    .landing--watchContext--img video {
        width: 56%;
    }
    .landing--mobileWatch {
        display: flex;
        flex-direction: column-reverse;
        height: 50vh;
    }
    .landing--mobileWatch--text {
        width: 85%;
        height: 40%;
        text-align: center;
        margin-bottom: -20px;
    }
    .landing--mobileWatch--text h1 {
        font-size: 2.5rem;
    }
    .landing--mobileWatch--text p {
        font-size: 1.3rem;
    }
    .landing--mobileWatch--media {
        height: 80%;
        width: 80%;
        margin-bottom: 40px;
    }
    .landing--mobileWatch--container {
        width: 40%;
        margin-bottom: 30px;
    }
    .textRow {
        margin-left: 70px;
    }
    .landing--devices {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .landing--devices--text {
        margin-top: 40px;
        width: 80%;
        text-align: center;
    }
    .landing--devices--text h1 {
        font-size: 2.5rem;
    }
    .landing--devices--text p {
        font-size: 1.3rem;
    }
    .landing--devices--media {
        margin-top: -29px;
        width: 100%;
        height: 100%;
    }
    .landing--devices--media img {
        width: 90%;
    }
    .landing--kidsContent {
        display: flex;
        flex-direction: column-reverse;
        height: 50vh;
    }
    .landing--kidsContent--text {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 40%;
        margin-bottom: -59px;
    }
    .landing--kidsContent--text h1 {
        margin-bottom: -9px;
        font-size: 2.5rem;
    }
    .landing--kidsContent--text p {
        text-align: center;
        font-size: 1.3rem;
    }
    .landing--kidsContent--media {
        height: 100%;
        width: 100%;
        margin-bottom: 50px;
    }
    .landing--kidsContent--media img {
        width: 80%;
    }
    .landing--questions-botom-content {
        flex-direction: column;
        display: flex;
    }
    .landing--questions-botom-content button {
        margin-top: 20px;
        width: 20%;
        font-size: 18px;
    }
    .landing--questions h1 {
        margin-top: 55px;
        font-size: 2rem;
    }
}

@media screen and (min-width:700px) and (max-width:1300px) {
    .landing--watchContent {
        height: 60vh;
    }
    .landing--mobileWatch {
        height: 60vh;
    }
    .landing--devices {
        height: 60vh;
    }
    .landing--kidsContent {
        height: 60vh;
    }
    .textRow {
        margin-left: 80px;
    }
}